.navbar{
    display: flex;
    justify-content: space-around;
    background-color: darkseagreen;
    h1{
        color: white;
    }
    h1::first-letter{
        color:red;
    }
    ul{
        display: flex;
        justify-content:space-evenly;
        color: white;
        align-items: center;
        gap: 80px;
        list-style: none;
    }
    li:hover{
        cursor:pointer;
        color: black;

    }
}