body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(255, 255, 255);
    
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;
   
    
    

    
    
    
}


.hero{
    display: flex;
    justify-content: center;
    gap:32%;
    align-items: center;
    background-color:rgba(0, 67, 100, 0.837);
    box-shadow: 20px 20px 20px rgba(47, 37, 37, 0.866);
    

    
    

}
.vilen{
    
   
    

   
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(190, 196, 194);
    box-shadow: 20px 20px 20px rgba(47, 37, 37, 0.866);
   
    gap: 32%;
    
    


   
}

    


   



